# Logs
logs
*.log

# Output files
reports
output
allure-report
allure-results

# Node.js dependencies
node_modules

# Selenium standalone server
selenium-server-standalone-*.jar

# WebdriverIO test runner output
wdio-*.log

# MacOS metadata
.DS_Store

# JetBrains IDE files
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code files
.vscode/
